<header>
    <div class="margin">
        <a id="logo" href="/" style="line-height: 0;">
            <img src="/img/logo.svg" alt="">
        </a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>